// --------------------------------------------------
// Includes
// --------------------------------------------------

@import "~bootstrap/scss/bootstrap";


// --------------------------------------------------
// Page Components
// --------------------------------------------------

textarea {
    resize: none;
}

.category {
    display: block;
    height: 1rem;
    width: 1rem;
}